<div class="p-4 ml-0 bg-white rounded-lg shadow-md border">
    <div class="text-3xl font-bold mb-2">
        <ng-content select = "[name]"></ng-content>
    </div>
    <div>
        <ng-content select = "[names]"></ng-content>
    </div>
    <div class="mt-16">
        <h1 class="text-2xl font-bold mb-2">We invest in the world's otential</h1>
    </div>
    <div class="flex justify-center">
        <ng-content select = "[imgs]">

        </ng-content>
    </div>  
    <div class="flex items-center mt-2">
        <img src="https://img.icons8.com/fluency/48/000000/verified-badge.png" class="w-4"/>
        <span class="ml-2">Dynamic reports and dashboards</span>
    </div>
    <div class="flex items-center mt-2">
        <img src="https://img.icons8.com/fluency/48/000000/verified-badge.png" class="w-4"/>
        <span class="ml-2">Templates for everyone</span>
    </div>
    <div class="flex items-center mt-2">
        <img src="https://img.icons8.com/fluency/48/000000/verified-badge.png" class="w-4"/>
        <span class="ml-2">Development workflow</span>
    </div>
    <div class="flex items-center mt-2">
        <img src="https://img.icons8.com/fluency/48/000000/verified-badge.png" class="w-4"/>
        <span class="ml-2">Limitless business automation</span>
    </div>
</div>
