<app-navbar></app-navbar>
<div class="grid lg:grid-cols-10 grid-cols-1 w-full container mx-auto">
    <div class=" p-4 col-span-2">
        <app-sidebar [content_list]="subject_list" (selected)="getdata($event)"></app-sidebar>
    </div>
    <div class="p-4 col-span-8">
        <app-card-content>
            <h1 name>{{subject.name}}</h1>
            <p names>{{subject.description}}</p>
            <img imgs src="../../assets/icon/{{subject.thumbnail}}" alt="Nature" class="w-24">
            
        </app-card-content>
    </div> 
</div>