
    <div class="p-4 max-w-sm  bg-white rounded-lg border shadow-md sm:p-6 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
            My Favorite Subject
        </h5>
        <ul class="my-4 space-y-3"> 
            <li *ngFor="let item of content_list; let i = index" [attr.data-index]="i">
                <button (click)="selectSubject(item)" class="flex items-center w-full p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                    <img src="../../assets/icon/{{item.thumbnail}}" alt="" srcset="" class="w-7 h-7">
                    <span class="ml-3 whitespace-nowrap">{{item.name}}</span>
                </button>
            </li>
        </ul>  
    </div>

